%h1 
  =t('application.edit', model: t('activerecord.modules.owner.one'))
= render "form", owner: @owner
%br/
%div
  = link_to t('application.show', model: t('activerecord.modules.owner.one')), @owner
  |
  \#{link_to t('application.back_to', model: t('activerecord.modules.owner.other')), owners_path}
