%h1 
  =t('application.new', model: t('activerecord.modules.owner.one'))
= render "form", owner: @owner
%br/
%div
  = link_to t('application.back_to', model: t('activerecord.modules.owner.other')), owners_path
