<div id="<%= dom_id pet %>">
  <p>
    <strong>Nombre:</strong>
    <%= pet.nombre %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= pet.raza %>
  </p>

  <p>
    <strong>Pedigree:</strong>
    <%= pet.pedigree %>
  </p>

</div>
