<h1>Editing create owner</h1>

<%= render "form", create_owner: @create_owner %>

<br>

<div>
  <%= link_to "Show this create owner", @create_owner %> |
  <%= link_to "Back to create owners", create_owners_path %>
</div>
